include ./_mixins.jade
div.container
  div.component
    +compenent_head('graduation-cap', 'Education')
    div.component-body
      +education_item('BSc Computer Science', 'Istanbul Bilgi University','3.04/4, Istanbul/Turkey', 'English Taught, Full Scholarship')
      +education_item('BSc Information Technology','Mykolos Romeris University', '8.2/10, Vilnius/Lithuania','English Taught, Erasmus')
