include ./_mixins.jade
div.container
  div.component
    +compenent_head('briefcase', 'Work Experience')
    div.component-body
      +experience_item('Front-end Developer @ Nomad', 'March 2016 - present','A consultant at the Ziraat Bank. Designing Mobile Banking Web Apps and participation in front-end development. Development of Web Apps with React JS and planning to convert all native mobile applications to React Native.')
      +experience_item('Full Stack Developer @ Maarifa', 'September 2014, March 2016', 'A consultant at the Akbank T.A.Ş . Participation in front-end development of Single Page Apps. Using KnockoutJS to bind Back-End services and also designing/redesigning Responsive Web Project Designs using Less, CSS3, HTML5, JS. Back/Front-End development and designing of Web Applications. Creating Responsive Web Designs.')
