include ./_mixins.jade
div.container
  div.component
    +compenent_head('code', 'Skills & Competences')
    div.component-body
      +skill_item('Web','HTML5','CSS3','Sass','Javascript','Jquery','AngularJS', 'ReactJS','KnockoutJS','EmberJS', 'ES6','Less','Asp.NET MVC','Responsive Design','Mobile First', 'Single Page Applications')
      +skill_item('Core','C#','NodeJS', 'Java', 'Python','Entity Framework','Linq','MS SQL Server','SOLID', 'MongoDB','MySQL', 'Ado.Net')
      +skill_item('Bonus', 'Npm','Gulp', 'Git', 'Bitbucket', 'Grunt','Bower', 'Yeoman', 'Jasmine','TFS','Scrum','Agile', 'TDD', 'XML', 'JSON', 'Photoshop')
