include ./_mixins.jade
div.container.summary
  div.component
    +compenent_head('user', 'Summary')
    div.component-body
      +summary_item('Yusuf Özlü', 'An experienced Computer Scientist who passionates about software development and design. Since 2013, developing Web Applications. A competent Full Stack Developer familiar with both front-end and back-end (.NET) technologies. Currently, a Front-end Developer/Designer interested in modern Javascript libraries and frameworks like ReactJS , AngularJS, EmberJS, NodeJS and KnockoutJS. Self-motivated and goal oriented, adjusted to work in heterogeneous groups. Future goals include improving in management, through advancing skills on Mobile and Internet software development with ambitions to become a team leader and promote to an IT team manager, preferably in an international enviroment.')
