doctype html
html
  head
    title  Yusuf Özlü (ozluy)
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content ='IE=edge; charset=utf-8')
    meta(name='viewport' content ='width=device-width, initial-scale=1, user-scalable=no')    
    meta(name='description', content='Yusuf Özlü - ozluy - Front-end Developer')
    meta(name='keywords', content='HTML, CSS, JavaScript, AngularJS, ReactJS, NodeJS, Front-end Developer, Full Stack Developer, Single Page Applications')
    meta(name='author', content='Yusuf Özlü')
    meta(http-equiv='Cache-control' content='public')
    link(href='assets/css/bundle.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')
    link(rel='shortcut-icon', href='favicon.ico')
  body
    include ./partials/_header.jade
    include partials/_aside.jade
    main#main
      include ./partials/_summary.jade
      include ./partials/_experience.jade
      include ./partials/_education.jade
      include ./partials/_skills.jade
      div.blackout(onclick='menuOpener();')
    include ./partials/_footer.jade

    script(src='assets/js/bundle.min.js' )
