$color_smoothwhite:#bcbcc7;
$color_navy:#01012b;
$color_navylight:#0e0e51;
$color_blue:#343477;
$color_lightblue:#6c6c9d;
$color_white:#ffffff;
$color_red:#ff0000;



//Font Sizes
$small:12px;
$default:16px;
$medium: 24px;
$large: 48px;

//Font weights
$light: 300;
$regular: 400;
$bold: 700;
